@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome, developer!</h1>
        <h2>It's @Model.Time right now on the server</h2>
        <p>Learn about <a href="https://medium.com/p/693144341e49">building Web apps with ASP.NET Core and Docker!</a>.</p>
    </div>


